@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@200;300;400;600;800&display=swap');

body {
    display: flex;
    justify-content: space-between;
    padding: 0;
    margin: 0;
    background-color: rgb(201, 202, 231);
    font-family: 'Poppins', sans-serif;
}

.container {
    display: flex;
    justify-content: space-between;
}

.navbar {
    border-right: 2px solid rgb(54, 54, 96);
}

.navbar li {
    display: contents;
    text-decoration: none;
}

.navbar ul {
    padding: 10px;
}

.navbar a {
    display: block;
    padding: 10px 30px;
    text-decoration: none;
    text-align: left;
    color: black;
}

.navbar a:hover {
    background-color: aliceblue;
    color: rgb(59, 59, 196);
}

.main {
    padding: 20px;
}

.next-profile {
    display: flex;
    justify-content: space-between;
}

.next-profile:hover {
    text-decoration: underline;
}

.next-profile a {
    text-decoration: none;
    color: rgb(59, 59, 196);
}

.profile {
    display: block;
    border-left: 2px solid rgb(54, 54, 96);
    padding: 30px;
}

.profile h2 {
    display: flex;
    justify-content: center;
}

.profile img {
    border-radius: 50%;
    width: 150px;
    height: 150px;
}

.button i {
    font-size: 20px;
    border-radius: 50%;
    background-color: rgb(224, 235, 244);
    color: rgb(59, 59, 196);
    border: 2px solid rgb(255, 255, 255);
    padding: 10px;
    box-shadow: 2px 2px 5px rgb(173, 172, 172);
    position: fixed;
    left: 20px;
    bottom: 80px;
}