@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@200;300;400;600;800&display=swap');

* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
    --primary-color: #38598b;
    --secondary-color: #113f67;
    --tertiary-color: #e7eaf6;
    --quaternary-color: #a2a8d3;
}

body {
    display: flex;
    flex-direction: row;
    background-color: var(--primary-color);
    font-family: 'Poppins', sans-serif;
}

.navbar {
    display: flex;
    flex-direction: column;
    height: 100vh;
    width: 20%;
    background-color: var(--secondary-color);
    color: var(--tertiary-color);
}

.navbar > h1 {
    font-size: 2.5rem;
    margin: 30px 0px 30px 10px;
    font-weight: 500;
    color: var(--quaternary-color);
}

.navbar > ul {
    list-style: none;
    margin: 0px 10px 0px 10px;
    font-weight: 300;
    font-size: 20px;
    color: var(--tertiary-color)                      
}

.navbar > ul > li {
    margin-bottom: 10px;
}

.main {
    display: flex;
    flex-direction: column;
    min-height: 100%;
    width: 55%;
    background-color: var(--secondary-color);
    margin: 30px 40px;
    font-weight: 300;
}

.presentation {
    height: auto;
    width: 100%;
    margin-top: 10px;
    margin-left: 10px;
    margin-right: 10px;
    color: var(--quaternary-color)
}

.presentation > h2 {
    font-weight: 500;
    font-size: 40px;
}

.presentation > p {
    font-size: 20px;
    color: var(--tertiary-color);
    margin-right: 10px;
}

.parcours {
    height: auto;
    width: 100%;
    margin-top: 30px;
    color: var(--quaternary-color)
}

.parcours > h2 {
    text-align: right;
    font-weight: 500; 
    font-size: 40px;
    margin-right: 10px; 
}

.parcours > p {
    text-align: right;
    margin-right: 10px;
    font-size: 20px;
    color: var(--tertiary-color)
}

.passions {
    height: auto;
    width: 100%;
    margin-top: 30px;
    margin-left: 10px;
    margin-right: 10px;
    color: var(--quaternary-color)
}

.passions > h2 {
    font-weight: 500;
    font-size: 40px;
}

.passions > p {
    font-size: 20px;
    color: var(--tertiary-color);
    margin-right: 10px;
}

.profile {
    display: flex;
    flex-direction: column;
    align-items: center;
    height: 46vh;
    width: 25%;
    background-color: var(--secondary-color);
    color: var(--quaternary-color);
    margin: 30px 30px 0px 0px;
}

.profile > h2 {
    font-weight: 500;
    font-size: 50px;
}

.profile-image {
    border-radius: 50%;
    width: 350px; 
    height: 350px; 
    margin-top: 20px;
    object-fit: cover; 
}