* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}

@media screen and (min-width:1200px) and (orientation:landscape) and (min-height:698px) {

    html, body{
        height: 100%;
    }
    
    main{
        height: 100%;
        padding: 3%;
        background-color: rgb(255, 245, 233);

        #titre{
            position: relative;
            margin-bottom: 3%;
            text-align: center;
            text-decoration: underline;
            font-family: 'Poppins', sans-serif;
            font-size: x-large;
        }

        .nom{
            text-decoration: underline;
            font-family: 'Mooli', sans-serif;
            font-size: x-large;
        }

        .cartes{
            width: 20%;
            height: 100%;
            display: flex;
            flex-direction: column;
            align-items: center;
            justify-content: center;
            transition: transform .2s;
        }

        .cartes-indiv{
            border: 3px solid ;
            border-radius: 15px;
            padding: 0.7%;
            width: 100%;
            height: 100%;
            display: flex;
            flex-direction: column;
            align-items: center;
            justify-content: center;
        }

        #ligne-1{
            display: flex;
            justify-content: space-around;
            height: 40%;
            margin-bottom: 3%;

            #carte-olivier{
                background-color: rgb(243, 232, 232);
                border-color: rgb(232, 101, 101);
                display: flex;
                flex-direction: column;
                #pp-olivier{
                    margin-bottom: 10%;
                    height: 70%;
                    width: 70%;
                    border-radius: 50%;
                }
            }

            #carte-julie{
                background-color: #C8D5B9;
                display: flex;
                flex-direction: column;
                border-color: #4A7C59;
                #pp-julie{
                    border-radius: 50%;
                    height: 70%;
                    width: 70%;
                    margin-bottom: 10%; 
                }
            }

        }

        #ligne-2{
            display: flex;
            justify-content: center;
            height: 40%;

            #carte-aurore{
                background-color: #a2a8d3;
                border-color: #113f67;
                display: flex;
                flex-direction: column;
                #pp-aurore{
                    margin-bottom: 10%;
                    height: 70%;
                    width: 70%;
                    border-radius: 50%;
                }
            }
        }

        .cartes:hover{
            transform: scale(1.2);
        }

    }
}

@media screen and (max-width:1200px), screen and (orientation: portrait), screen and (max-height:698px) {

    #all{

        background-color: rgb(255, 245, 233);
        padding-top: 35%;

        #titre{
            position: fixed;
            background-color: rgb(249, 214, 170);
            top: 0%;
            text-align: center;
            text-decoration: underline;
            font-family: 'Poppins', sans-serif;
            padding: 5%;
            border-bottom: 3px solid rgb(135, 99, 52);
            z-index: 2;
            width: 100%;
        }

        #corps{
            display: flex;
            flex-wrap:wrap;
            flex-direction: column;
            align-items: center;
            justify-content: center;
            margin-left:auto;
            width: 80%;
            position: relative;
        }

        .nom{
            text-decoration: underline;
            font-family: 'Mooli', sans-serif;
            font-size: x-large;
        }

        .cartes-indiv{
            border: 3px solid;
            border-radius: 15px;
            padding: 5%;
            width: 80%;
            display: flex;
            flex-direction: column;
            align-items: center;
            justify-content: center;
            margin-bottom: 10%;
        }
    
        #carte-olivier{
            background-color: rgb(243, 232, 232);
            border-color: rgb(232, 101, 101);
            #pp-olivier{
                border-radius: 50%;
                height: 70%;
                width: 70%;
                margin-bottom: 10%; 
            }
        }
    
        #carte-julie{
            background-color: #C8D5B9;
            border-color: #4A7C59;
            #pp-julie{
                border-radius: 50%;
                height: 70%;
                width: 70%;
                margin-bottom: 10%; 
            }
        }

        #carte-aurore{
            background-color: #a2a8d3;
            border-color: #113f67;
            #pp-aurore{
                border-radius: 50%;
                height: 70%;
                width: 70%;
                margin-bottom: 10%;
            }
        }

    }

}